[flake8]
ignore =
    # A002 argument "id" is shadowing a python builtin - id is too important
    A002,
    # A003 class attribute "id" is shadowing a python builtin - id is too important
    A003,
    # E203 whitespace before ':' - not PEP8 compliant!
    E203,
    # E402 module level import not at top of file
    E402,
    # E741 ambiguous variable name 'l'
    E741,
    # W503 line break before binary operator
    W503,
    # W504 line break after binary operator
    W504,
    # Logging statement uses exception in arguments
    G200,
    # Long literals which Black can't split
    E501,
    # Logging statements should not use f"..." for their first argument
    G004
max-line-length = 140
enable-extensions = G
