[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "rossum_sdk"
version = "1.0.0"
license = {text = "MIT"}
readme = "README.md"
dependencies = [
    "aiofiles",
    "httpx",
    "dacite",
]

[project.entry-points.'rossum_sdk.models']
default = 'rossum_sdk.rossum_models'

[project.optional-dependencies]
tests = [
  "codecov",
  "mock", # Needed for Python 3.7  because unittest.mock there doesn't support AsyncMock,
  "pytest",
  "pytest-asyncio",
  "pytest-httpx",
  "pytest-cov",
  "ruff",
  "types-aiofiles",
]

[tools.setuptools]
include-package-data = true
packages = ["find"]

[tool.pytest.ini_options]
minversion = "7.0"
pythonpath = [
  "."
]

[tool.black]
line-length = 99
target-version = ["py37"]
include = '\.pyi?$'

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 100
ensure_newline_before_comments = true

[tool.semantic_release]
version_variable = "setup.py:__version__"
upload_to_repository = false
branch = "main"
