name: Documentation Build

on:
  workflow_run:
    # Run after "Run Tests & Deploy" workflow
    workflows: ["Run Tests & Deploy"]
    types:
      - completed
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  docs-build:
    runs-on: ubuntu-24.04
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'pull_request' }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          pip install -e ".[docs]"
        shell: bash

      - name: Build documentation
        run: |
          cd docs
          make html
        shell: bash

      - name: Upload documentation artifacts
        uses: actions/upload-artifact@v4
        with:
          name: documentation
          path: docs/build/html/
        if: success()
