name: Run Tests & Deploy
on: [push, pull_request]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -e '.[tests]'
      - name: Install packages needed for CI
        run: pip install tox pre-commit
      - name: Lint all files
        run: pre-commit run --all-files --show-diff-on-failure
      - name: Run tests
        run: pytest --cov=rossum_api --cov-report=xml --cov-report=term-missing

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-test
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ secrets.PUBLISH_TOKEN }}
      - name: Semantic release
        uses: relekang/python-semantic-release@v10.4.1
        with:
            # Personal Access Token that belongs to an admin of the repo must
            # be set in PUBLISH_TOKEN secret to bypass `main` branch protection
            github_token: ${{ secrets.PUBLISH_TOKEN }}
